form.add-order {
  margin: 50px;
  width: 30%;
}

button {
  margin-top: 10px;
}

input {
  width: 100%;
}

input[type=text]:focus {
  border: 3px solid #555;
}


label {
  font-size: 18pt;
  margin-top: 10px;
} 
