.App {
  text-align: center;
}

div.navbar {
  background: yellowgreen;
  float: left;
  height: 10vh;
  width: 100vw;
}

.side-container {
  background: blue;
  color: white;
  float: left;
  width: 30vw;
  height: 90vh;
}

.main-container {
  background: red;
  float: left;
  width: 70vw;
  height: 90vh;
}


